body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-image: url("../images/pinkk.jpg");
  }
  
  .namers {
    width: 700px;
    height: 40px;
    background-color: white;
  }
  
  .jumbotron {
    text-align: center;
    color: black;
    background-image: url("../images/pinkk.jpg");
    height: 280px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
  }

  .past {
    background-color: #A9A9A9;
    color: white;
  }
  
  .present {
    background-color: blue;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }

  .saver {
    height: 39px;
    width: 39px;
  }

 .timeSlots {
    text-align: center;
    display: inline-block;
    margin-left: 50px;
  }

.container {
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 50px;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    text-align: center;
    left: 50px;
    width: 80px;
  }
  .timeSlots {
    text-align: center;
    width: 50px;
    margin-right: -200px;
  }
  .saver {
    height: 29px;
    width: 29px;
  }
  .hours {
    margin-left: -80px;
    margin-top: 50px;
  }
}