body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-image: url("../images/pinkk.jpg");
  }
  
  .namers {
    width: 800px;
    height: 40px;
    margin-left: 8px;
    background-color: white;
  }
  .jumbotron {
    text-align: center;
    color: black;
    background-image: url("../images/pinkk.jpg");
  }
  
  .description{
    white-space: pre-wrap;
    color: black;
  }
  
  .time-block{
    text-align: center;
    border-radius: 10px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    align-content: center;

  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }

  .saver {
    height: 39px;
    width: 39px;
    margin-left: 5px;
  }
